@import url('https://fonts.googleapis.com/css2?family=Inter&family=Righteous&display=swap');

html {
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.hero-banner {
  background-image: url(https://www3.pictures.itsrosy.com/mp/F1knTqVgCtfx.jpg);
  height: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

p {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

nav img {
  height: 90px;
  width: 90px;
}

nav {
    background-color: rgba(189, 81, 145, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 1.5rem;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 0 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: .7rem 1.5rem;
  border-radius: 1.5rem;
}

nav ul li a:hover {
  color: black;
  background-color: white;
}

h1 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;
  text-align: center;
  position: relative;
  top: 300px;
  font-size: 3rem;
  color: white;
}

div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

div a {
  text-decoration: none;
}

.page-nav {
  align-items: center;
  padding: 0 5rem;
}
.page-nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: .7rem 1.5rem;
  border-radius: 1.5rem;
}

.page-nav ul li a:hover {
  color: black;
  background-color: rgba(189, 81, 145);
}

.page-nav ul li {
  padding: 1.5rem;
}

.history, .inspiration, .influences {
  display: flex;
  align-items: center;
}

.history, .influences {
  padding: 0 1rem 4rem;
}

.inspiration {
    padding: 0 1rem 1.5rem;
}

.index-section article h2 {
  color: rgba(189, 81, 145);
  padding: 0 1rem;
}

.index-section article p {
  padding: 0 1rem;
}

.index-section article img {
  width: 800px;
}

.influences {
  flex-direction: row-reverse;
}

/* GENRES */
h3 {
  font-size: 1.5rem;
}
.genres{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 2rem;
}

.genres img {
  width: 100%;
  display: block;
}

.genres article {
  background-color: rgba(189, 81, 145);
  text-align: center;
}


.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo {
  position: relative;
  overflow: hidden;
}

footer {
  background: rgba(189, 81, 145);
  padding: 2rem 0;
  text-align: right;
}

footer small {
  padding-right: 1.5rem;
  font-family: "Inver", sans-serif;
}
